<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CART">

	<!-- select 태그 3개 속성 id, resultType, parameterType
	id : 사용할 명칭(필수항목), 현재 매퍼파일에서 유일한 이름 사용
	resultType : 조회 결과값 저장하기 위한 데이터 타입(1개 데이터에 대한 타입지정)
	parameterType : 전달 받은 파라미터 데이터의 타입 지정(선택적)
	-->
	<!-- 전체 장바구니 건수 조회 -->
	<select id="getCartItemCount" resultType="int">
		SELECT COUNT(*) FROM CART
	</select>
	
	<!-- 장바구니 목록을 전체 조회 (관리자 용) -->
	<select id="selectCartItems" resultType="com.mystudy.model.vo.CartVO">
		SELECT A.CART_ID, B.PRODUCT_NAME, B.PRICE, B.PRODUCT_CODE, B.STOCK
		FROM CART A
		INNER JOIN PRODUCT B
		ON A.PRODUCTCODE = B.PRODUCT_CODE
	</select>
	
	<!-- 장바구니 목록을 전체 조회 (회원 용) -->
	<select id="selectCartList" resultType="com.mystudy.model.vo.CartVO">
		SELECT A.CART_ID, A.CNT, B.PRODUCT_NAME, B.PRICE, B.PRODUCT_CODE, B.STOCK
		FROM CART A
		INNER JOIN PRODUCT B
		ON A.PRODUCTCODE = B.PRODUCT_CODE
		WHERE MEMID = #{memId}
	</select>

	<!-- 장바구니 하나의 아이템 조회 -->
	<select id="selectCartItemById" resultType="com.mystudy.model.vo.CartVO" parameterType="int">
		SELECT A.CART_ID, A.CNT, B.PRODUCT_NAME, B.PRICE, B.PRODUCT_CODE, B.STOCK
		FROM CART A
		INNER JOIN PRODUCT B
		ON A.PRODUCTCODE = B.PRODUCT_CODE
		WHERE CART_ID = #{cartId}
	</select>

	
	<!-- 장바구니 데이터 입력 -->
	<insert id="insertCartItem" parameterType="com.mystudy.model.vo.CartVO">
		INSERT INTO CART (CART_ID, MEMID, PRODUCTCODE, CNT, RDATE )
		VALUES (CARTIDNUM.NEXTVAL, #{memid}, #{productCode}, #{cnt}, SYSDATE )
	</insert>

	<!-- 장바구니 데이터 전체 삭제 -->
	<delete id="deleteCartItem" parameterType="int">
		DELETE FROM CART WHERE CART_ID = #{cartId}
	</delete>

	<!-- 장바구니 데이터 부분 삭제 -->
	<delete id="deleteSelectedCartItems" parameterType="list">
		DELETE FROM CART
		WHERE CART_ID IN
		<foreach collection="list" item="cartId" open="(" separator="," close=")">
			#{cartId}
		</foreach>
	</delete>

	<update id="updateQuantity" parameterType="map">
		UPDATE CART
		SET CNT = #{newQuantity}
		WHERE CART_ID = #{cartItemId}
	</update>

</mapper>






